body{
    font-family: "Times New Roman";
    font-size: 100%; 
    background: #C0D1F9;
    /*width:80%;*/
    /*height: 720px;*/
    height: auto;
    /*margin-left: 10%;*/
    text-align:center;
}
#pagina{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    width: 1080px;
    margin:0 auto;
}
#header{
    text-align: center;
    border-bottom: 1px solid;
}
#content{
    /*border-bottom: 1px dashed gray;*/
    padding: 10px 0px 10px 0px;
    height: auto;
    text-align: center;
    /*background: black;*/
}
#menu{
    position:relative;
    float:left;
    width:100%;
    height: 10%;
    text-align: center;
    /*background: #005702;*/
    z-index: 1;
}
#contenido{
    /*font-size: 150%;*/
    /*float:left;*/
    position: relative;
    /*background: red;*/
    margin-top: 6%;
    /*margin-left: 16%;*/
    height: auto;
    /*margin-left: 5%;
    width:95%;*/
}
#calendario{
    float:left;
    /*height: 200px;*/
    margin-left: 2%;
    margin-right: 2%;
    width: 15%;
    position: relative;
    /*background: blue;*/
}
#listadoHoras{
    height: auto;
    /*float:left;*/
    width: 100%;
    /*position: relative;*/
    /*background: #00620C;*/
}
#calendario,#calendarioAdmin{
    font-size: 120%;
}
#contentL ul{
    font-size: 14px;
    width:150px;
}
#header label{
    color:#4297d7;
    font-size: 300%;
}
#fecha_statica{
    color:#4297d7;
    font : bold;
    font-size: 80%;
    text-align: right;
}
#footer{
    margin-top:20px;
    text-align: center;
}
#footer label{
    color: #e6e6e6;
}
#refresco{
    text-align: right;
    /*background: red;*/
    color:white;
    float:right;
}
#refresco label{
    /*background: red;*/
    margin-right: 40px;
}
.tabla3 tr:nth-child(even) {background: #EFFBF8}
.tabla3 tr:nth-child(odd) {background: #E0E6F8}
.tabla3 {
    /*margin-left: 20%;*/
    font-size: 8px;
}

.relleno{
    padding-left: 2%;
    width: auto;
    padding-right: 2%;
}
.contFicha{
    margin-left: 2%;
    margin-top:2%;
    width: 90%;
    border:1px solid;
    text-align: left;
    min-height: 80px;
    height: auto;
    padding-left: 2%;
    padding-top: 1%;
}
.contFicha h3{
    text-align: center;
    margin: 0;
    padding: 0;
}
.ancho200{
    width: 180px;
}
.anchoA{
    /*margin-left: 20%;
    margin-right: 20%;*/
    width: 90%;
}
.alto1{
    height: 57px;
}
.ancho100{
    width: 100px;   
}